.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 5em; 
}

.button {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    color: white;
    flex-grow: 1;
    width: 150px;
    width: 100%;
}
#train-green {
    background-color: green;
    width: 150px;
    color: white; 
}

#train-gold {
    background-color: gold;
    width: 150px;
    color: black; 
}

#train-red {
    background-color: red;
    width: 150px;
    color: white; 
}

#train-blue {
    background-color: blue;
    width: 150px;
    color: white; 
}
